.selector {
  height: 60px;
  width: 60px;
  background-color: rgb(248, 225, 198);
  outline: none;
  border: none;
}
.btn {
  height: 50px;
  width: 150px;
  background-color: rgb(250, 189, 76);
  outline: none;
  border: none;
  font-size: 20px;
  font-family: Ariel;
}
.FONT {
  height: 20px;
  width: 100px;
  background-color: khaki;

  outline: none;
  border: none;
}
.load {
  margin-top: 30px;
  display: flex;
  width: 40%;
  font-size: 20px;
  font-family: Ariel;
  float: right;
}
.fontoption {
  display: flex;
  width: 40%;

  flex-direction: column;
  float: right;
}
.penoption {
  display: flex;
  width: 40%;
  flex-direction: column;
  float: left;
}
.buttons {
  display: inline-block;
  margin-top: 10px;
}
#canvas {
  background-color: white;
  border: 8px solid #e7cfa8;
}
body {
  background-color: rgb(248, 225, 198);
}
